<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wish Items</title>
</head>
<body>
    <h3><a href="/displaywishlist">Home</a> | <a href="/logout">Logout</a></h3>
    <h1>{{ item.title }}</h1>
    <h3>Users who added product/item under their wish list</h3>
    {% for i in wishlist %}
        <h4>{{ i.name }}</h4>
    {% endfor %}
    <h3><a href="/additem">Add Item</a></h3> 
</body>
</html>